<div role="document" class="modal-dialog" style="width:640px; height:540px;">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <img src="{{userPhoto.url}}" width="640px" height="540px"/>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger btn-sm" (click)="activeModal.close('Close click')">Cancel</button>
    </div>
  </div>
</div>
