<div role="document" class="modal-dialog">
  <div *ngIf="albumErrorMsgFlag" class="alert alert-danger">{{errorMsg}}</div>
  <form [formGroup]="userAlbumCreationForm" novalidate (ngSubmit)="onSubmit()">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input type="text" formControlName="albumTitle" class="form-control" placeholder="Enter Album Title"
                 aria-label="Enter Album Title" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="modal-footer">

        <button [disabled]="userAlbumCreationForm.pristine || userAlbumCreationForm.invalid"
                class="btn btn-success btn-sm" type="submit">Create
        </button>
        <button type="button" class="btn btn-danger btn-sm" (click)="activeModal.close('Close click')">Cancel</button>


      </div>
    </div>
  </form>
</div>
