<form [formGroup]="registrationForm" novalidate (ngSubmit)="onSubmit()">
  <div *ngIf="userAlreadyExistsFlag" class="alert alert-danger">User already exists.</div>
  <!-- Username-->
  <div class="form-group required">
    <label class="control-label">Username:</label>
    <input class="form-control" formControlName="username" type="text">
  </div>
  <div
    *ngIf="registrationForm.controls['username'].invalid && (registrationForm.controls['username'].dirty || registrationForm.controls['username'].touched)"
    class="alert alert-danger">
    <div *ngIf="registrationForm.controls['username'].errors.required">
      Username is required.
    </div>
  </div>

  <!--Name-->
  <div class="form-group required">
    <label class="control-label">Name:</label>
    <input class="form-control" formControlName="name" type="text">
  </div>
  <div
    *ngIf="registrationForm.controls['name'].invalid && (registrationForm.controls['name'].dirty || registrationForm.controls['name'].touched)"
    class="alert alert-danger">
    <div *ngIf="registrationForm.controls['name'].errors.required">
      Name is required.
    </div>
  </div>


  <!--Email-->
  <div class="form-group required">
    <label class="control-label">Email:</label>
    <input class="form-control" formControlName="email" type="text">
  </div>
  <div
    *ngIf="registrationForm.controls['email'].invalid && (registrationForm.controls['email'].dirty || registrationForm.controls['email'].touched)"
    class="alert alert-danger">
    <div *ngIf="registrationForm.controls['email'].errors.required">
      Email is required.
    </div>
    <div *ngIf="registrationForm.controls['email'].errors.email">
      Email is invalid.
    </div>
  </div>

  <!--Phone-->
  <div class="form-group">
    <label>Phone:</label>
    <input class="form-control" formControlName="phone" type="text">
  </div>
  <div
    *ngIf="registrationForm.controls['phone'].invalid && (registrationForm.controls['phone'].dirty || registrationForm.controls['phone'].touched)"
    class="alert alert-danger">
    <div *ngIf="registrationForm.controls['phone'].errors.maxlength">
      Phone number is invalid.
    </div>
  </div>

  <!--Website-->
  <div class="form-group">
    <label>Website:</label>
    <input class="form-control" formControlName="website" type="text">
  </div>

  <div class="form-group">
    <label>Address:</label>
  </div>

  <!--Street-->
  <div class="form-group">
    <label>Street:</label>
    <input class="form-control" formControlName="street" type="text">
  </div>

  <!--Suite-->
  <div class="form-group">
    <label>Suite:</label>
    <input class="form-control" formControlName="suite" type="text">
  </div>

  <!--City-->
  <div class="form-group">
    <label>City:</label>
    <input class="form-control" formControlName="city" type="text">
  </div>

  <!--Zipcode-->
  <div class="form-group">
    <label>Zipcode:</label>
    <input class="form-control" formControlName="zipcode" type="text" maxlength="10">
  </div>

  <div class="form-group row">
    <div class=col-md-1>
    <button type="submit"
            [disabled]="registrationForm.pristine || registrationForm.invalid" class="btn btn-success btn-sm">Register</button>
    </div>
    <div class=col-md-1>
    <button type="button" routerLink="/home" class="btn btn-danger btn-sm">Cancel</button>
    </div>
  </div>

</form>
