<!--The content below is only a placeholder and can be replaced.-->
<div class="card">
  <div class="card-header">
    <span routerLink="/home" style="cursor: pointer;">
      <i class="fa fa-home fa-fw"></i>{{title}}
    </span>
  </div>
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>


