<div role="document" class="modal-dialog">
  <div *ngIf="photoErrorMsgFlag" class="alert alert-danger">{{errorMsg}}</div>
  <form [formGroup]="userPhotoUploadForm" novalidate (ngSubmit)="onSubmit()">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input type="text" formControlName="photoTitle" class="form-control" placeholder="Enter Photo Title"
                 aria-label="Enter Photo Title" aria-describedby="basic-addon2">
        </div>
        <div class="input-group mb-3">
          <input type="file"
                 formControlName="file"
                 id="file" accept='image/*'
                 (change)="handleFileInput($event.target.files)">
        </div>
      </div>
      <div class="modal-footer">

        <button [disabled]="userPhotoUploadForm.pristine || userPhotoUploadForm.invalid"
                class="btn btn-success btn-sm" type="submit">Upload
        </button>
        <button type="button" class="btn btn-danger btn-sm" (click)="activeModal.close('Close click')">Cancel</button>
      </div>
    </div>
  </form>
</div>
