.faArrowIcon {
  position:relative;
}

.faArrowIcon:before {
  font-family: FontAwesome;
  top:0;
  left:-5px;
  padding-right:10px;
  content: "\f055";
}

.text-image {
  font-family: "Arial Black";
}

.text-image, .text-image:before {
  font-size: 4em;
  background-image: url('https://source.unsplash.com/random');
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke:1px #FAB6D3;
}
