<div *ngIf="albumErrorMsgFlag" class="alert alert-danger">{{errorMsg}}</div>
<div class="row card-group">
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Manage Album</h5>
      </div>
      <a (click)="createAlbum()" class="btn btn-primary"><i class="fa fa-plus-circle"></i></a>
      <!--<a (click)="deleteAlbum()" class="btn btn-danger"><i class="fa fa-minus-circle"></i></a>-->
    </div>
  </div>
  <div *ngFor="let ar of userAlbumResponses; let i = index" class="col-sm-2 hoverable" style="cursor: pointer;" >
    <div class="card">

    <div class="card-header">
      <button type="button" class="close" aria-label="Delete" ngbTooltip="Delete Album" (click)="deleteAlbum(ar.album.id)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      <div (click)="openAlbum(ar.album.id)" ngbTooltip="View Album">
      <div class="card-body">
        <img class="card-img-top" src="{{ar.thumbnailUrl}}" alt="{{ar.album.title}}">
      </div>
      <div class="container">
        <h6 class="text-center">{{ar.album.title}}</h6>
      </div>
      </div>
    </div>
  </div>
</div>
