<div *ngIf="photoErrorMsgFlag" class="alert alert-danger">{{errorMsg}}</div>
<div class="row card-group">
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Manage Photo</h5>
      </div>
      <a (click)="openUploadPhotoModal()" class="btn btn-primary"><i class="fa fa-plus-circle"></i></a>
      <!--<a (click)="openDeletePhotoModal()" class="btn btn-danger"><i class="fa fa-minus-circle"></i></a>-->
    </div>
  </div>
  <div *ngFor="let photo of userAlbumPhoto; let i = index" class="col-sm-2 hoverable" style="cursor: pointer;">
    <div class="card">
      <div class="card-header">
        <button type="button" class="close" aria-label="Delete" ngbTooltip="Delete Photo"
                (click)="deletePhoto(photo.id)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div ngbTooltip="View Photo" (click)="openPhoto(photo)">
        <div class="card-body">
          <img class="card-img-top" src="{{photo.thumbnailUrl}}" alt="{{photo.title}}">
        </div>
        <div class="container">
          <h6 class="text-center">{{photo.title}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
