<form [formGroup]="searchUserForm" novalidate (ngSubmit)="onSubmit()">
  <div *ngIf="!userFoundFlag" class="alert alert-danger">User not found.</div>
  <div class="input-group mb-3">
  <input type="text" formControlName="username" class="form-control" placeholder="Enter your username" aria-label="Enter your username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button [disabled]="searchUserForm.pristine || searchUserForm.invalid" class="btn btn-outline-secondary" type="submit"><span class="fa fa-search"></span></button>
  </div>
</div>
</form>
<div class="text-center container-fluid">
  <a routerLink="/registration" ><i class="fa fa-pencil fa-fw"></i>New User? Register Here!</a>
</div>
